*{
	padding: 0px;
	margin: 0px;
}
.profil h2{
	font-size: 1.5em;
}

h1, h2{
	font-weight: bold;
}

.hidden-on-mobile {
	display: block;
}

.show-on-mobile {
	display: none;
}

.contact-details-item {
 display: flex;
 flex-direction: column;
 margin: 15px 0;
}

.contact-details-label{
	font-weight: bold;
}

body{
	font-family: arial, serif, normal;
	margin: 0px;
}

.contaner{
	display: flex;
	max-width: 1000px;
	margin: auto;
	background-color: white;
}

.sidebar{
	background-color: #009688;
	width: 450px;
}

.sidebar-titre{
	background-color: #090909;
	color: #009688;
	padding: 5px 0px;
	text-align: center;
}

.sidbar-icones{
	border: 4px solid #4DB6AC;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar-content{
	padding: 20px 30px;
}

.profile-photo{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 0px;
}

.profile-photo img{
	border-radius: 100%;
	width: 140px;
	height: 140px;
	border: 4px solid #4DB6AC;
}

.ptecran-titr{
	display: none;
}

.sec-addresse{
	text-align: left;
}

.sec-addresse a{
	text-decoration: none;
	color: black;
}

.sec-loisires__loisir{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.head-titlgdecran{
	margin-top: 90px;
}

.head-titlgdecran__colartur{
	color: #009688;
}

.head-titlgdecran__dev{
	color: #455A64;
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 100px;
}

.head-titlgdecran__ligne{
	border-bottom: 2px solid #009688;
}

.main{
	padding: 0px 50px;
}

.main__titre--icone{
	padding-right: 25px;
	padding-bottom: 20px;
}

.main__contenue{
	margin: 20px 0px;
	display: flex;
	justify-content: space-between;
}

.main__contenue--datelieu{
	max-width: 120px;
}

.main__contenue--text{
	width: 70%;
}

.main__contenue--textul li{
	padding-bottom: 20px;
}

.main__contenue--tittext{
	color: #009688;
	margin-bottom: 7px;
}

.icone-turquois{
	color: #009688;
}

.fa-map-marker-alt{
	float: left;
	padding-bottom: 25px;
	padding-right: 10px;
}

.main__competences li{
	padding-bottom: 30px;
	padding-left: 10px;
}

.fa-ul{
	margin-left: 27px;
}

.ligne-horizon{
	border-bottom: 2px solid #009688;
}

@media screen and (max-width: 800px) {

	.main__contenue{
		flex-direction: column;
	}

	.main__contenue--datelieu{
		margin-bottom: 20px;
		max-width: none;
	}

	.main__contenue--text{
		width: unset;
	}
}

@media screen and (max-width: 700px) {

	.contaner{
		display: block;
	 }

	.sidebar, .main{
		width: unset;
	}

	.main{
		padding-top: 30px;
	}

	.hidden-on-mobile {
		display: none;
	}

	.show-on-mobile {
		display: block;
	}

	.ptecran-titr__nom{
		color: white;
		margin-bottom: 20px;
	}

	 .profile-photo{
		 padding-top: 70px;
	 }

	 .ptecran-titr{
		 text-align: center;
		 margin-bottom: 50px;
	 }
}
